In [9]:
import pandas as pd

In [10]:
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [11]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [14]:
movies_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
10165,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,50536,tt0108410,en,Twenty Bucks,A story about the life of a twenty dollar bill...,...,1993-10-21,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When you pass the buck, the last thing you exp...",Twenty Bucks,False,5.9,21.0
26641,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",http://thesuspectmovie.com/,228245,tt2073121,en,The Suspect,Two African American social scientists pose as...,...,2013-10-16,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Suspect,False,5.5,18.0
26120,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 37, 'nam...",NaN,47914,tt0076915,en,The White Buffalo,"In this strange western version of JAWS, Wild ...",...,1977-05-01,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two legendary enemies unite to fight the charg...,The White Buffalo,False,5.3,25.0
713,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,40651,tt0113429,en,"Institute Benjamenta, or This Dream People Cal...",Jakob arrives at the Institute Benjamenta (run...,...,1995-08-01,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,"Institute Benjamenta, or This Dream People Cal...",False,7.7,11.0
31898,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.lovemylife.jp/,40701,tt0923779,ja,ãƒ©ãƒ–ãƒ»ãƒžã‚¤ãƒ»ãƒ©ã‚¤ãƒ•,Ichiko and Eri are two beautiful Japanese univ...,...,2006-12-09,0.0,96.0,"[{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]",Released,NaN,Love My Life,False,5.4,4.0